.jumbotron {
    width: 100%;
    background: lightblue;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}

.card {
    width: 100%;
    margin-bottom: 20px;
    font-family: monospace;
}

.card-header {
    background: lightblue;
    text-align: center;
    font-family: monospace;
}

